:root {
    --background: #EEEEEE;
    --dark: #3F72AF;
    --light: #96B6C5;
    --font: #040D12; 
    
}

* {

}

body {
    background-color: var(--background);
}

header {
    background-color: var(--dark);
    color: var(--font);
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
}

header h1 {
    display: flex;
    margin-left: 2rem;
    width: 12rem;

}

nav {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    font-size: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

#header-navigation{
    display: flex;
}

#header-navigation li {
    text-align: center;
    padding: 0.5rem;
    margin-right: 1rem;
  
}

a {
    text-decoration: none;
    color: var(--font);
}

main {
    height: 100%;
}

.about-me-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    color: var(--font);
}

hr {
    width: 50%;
    border: 1px solid var(--font);
}

.container img {
    display: flex;
    max-width: 100%;
}

#about-me {
    display: flex;
    flex-direction: column;
}

#about-me figure {
    display: flex;
    flex-direction: row;
}

#about-me img {
    max-width: 30%;
    max-height: 25rem;
    margin: auto 3rem auto 2rem;
    border: 6px solid var(--light);
}

#about-me ul {
    margin: auto 7rem auto auto;
    line-height: 1.5;
    text-align: center;
}

#about-me li {
    margin-bottom: 1rem;
    color: var(--font);
}

#portfolio {
    display: flex;
    flex-direction: column;
    height: 50rem;
    margin-top: 2rem;
}


#portfolio-container {
    display: flex;
    flex-direction: row;
    height: 90%;
}

#main-project {
    display: flex;
    /* flex-direction: column; */
    width: 120%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem; 
    margin-left: 3rem;
    margin-right: 1rem;
    border: 6px solid var(--light);
}

.main-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 3%;
    /* margin-bottom: -5.5rem; */
    margin-right: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--light);
    text-align: center;
    color: var(--font);
}

#main-project a {
    width: 100%;
    height:100%; 
}

#main-project img{
    width: 100%;
    height: 100%; 
    
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: auto; */
    max-height: 100%;
    margin-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.projects a {
    width: 25%;
}

.projects img {
    width: 100%;
    height: 100%;
}

.projects a{
    height: 100%;
}

.side-projects {
    max-height: 29%;
    width: auto;
    height: 100%;
    max-height: 29.8%;
    /* margin-bottom: 3rem; */
    border: 6px solid var(--light);
}

.project-margin {
    margin-bottom: 1rem;
}

.project-header{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--font);
    width: auto;
    margin-left: 3%;
    margin-right: auto;
    font-size: 75%;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    text-align: center;
    background-color: var(--light);
}

#bottom-project {
    display: flex; 
    margin-left: 3rem;
    margin-right: 3rem;
    height: 10rem;
    max-height: 10rem;
    width: auto;
    border: 6px solid var(--light);
}

.bottom-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--font);
    background-color: var(--light);
    width: auto;
    margin-left: 3%;
    margin-right: auto;
    text-align: center;
    /* border-radius: 5%; */
}

#bottom-project a {
    height: 100%;
    width: 100%;
}

#bottom-project img {
    width: 100%;
    height: 100%;
}

#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

#contact-information {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.information {
    background-color: var(--light);
    color: var(--font);
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 5%;
    text-align: center;
}

@media screen and (max-width: 1050px){
    #about-me img {
        display: none;
    }

    #about-me ul {
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }
}

@media screen and (max-width: 700px){
    header {
        flex-direction: column;
    }
    header h1 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    nav {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    #main-project {
        margin-left: 1rem;
        border: 4px solid var(--light);
    }

    .projects {
        margin-right: 1rem;
    }

    .side-projects {
        border: 4px solid var(--light);
        max-height: 32%;
    }

    #bottom-project {
        margin-left: 1rem;
        margin-right: 1rem;
        border: 4px solid var(--light);
    }
}

@media screen and (max-width: 550px) {
    #portfolio {
        height: 55rem;
    }

    #portfolio-container {
        flex-direction: column;
        height: 100%;
    }
    #main-project {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 95%;
    }

    .projects {
        margin-top: 1rem;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        height: 100%;
    }

    .side-projects {
        max-height: 8rem;
    }

    #bottom-project {
        margin-top: -1.2rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}