:root {
    --background: #EEEEEE;
    --dark: #3F72AF;
    --light: #96B6C5;
    --font: #040D12; 
    
}

* {

}

/* Adds background color */
body {
    background-color: var(--background);
    margin: 1rem 0 0 0;
}

/* Changes background and font color. Adds margin so it doesn't touch page border. */
header {
    background-color: var(--dark);
    color: var(--font);
    display: flex;
    flex-direction: row;
    margin: 0 2%;
}

/* Aligns the h1 text to left side of header. */
header h1 {
    display: flex;
    margin-left: 2rem;
    width: 12rem;

}

/* Moves nav bar to right side of header. */
nav {
    display: flex;
    font-size: 100%;
    margin: auto 2rem auto auto;
}

/* Removes bullet points. */
ul {
    list-style-type: none;
}

/* Makes the nav bar responsive. */
#header-navigation{
    display: flex;
    padding: 0;
}

/* Aligns nav bar elements and creates space between them. */
#header-navigation li {
    text-align: center;
    padding: 0.5rem;
    margin-right: 1rem;
  
}

/* Removes underline and changes font color. */
a {
    text-decoration: none;
    color: var(--font);
}

/* Make sure the main elements are taking up whole space. */
main {
    height: 100%;
}

/* Creates space between header and context underneath. */
.about-me-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Align in center and change font. */
h2 {
    text-align: center;
    color: var(--font);
}

/* Creates length of horizontal line. */
hr {
    width: 50%;
    border: 1px solid var(--font);
}

/* Makes the section header and content into a column to seperate. */
#about-me {
    display: flex;
    flex-direction: column;
}

/* Seperates img and text so they're next to eachother in a row. */
#about-me figure {
    display: flex;
    flex-direction: row;
}

/* Styling the image and changing the size */
#about-me img {
    display: flex;
    max-width: 30%;
    max-height: 25rem;
    margin: auto 3rem auto 2rem;
    border: 6px solid var(--light);
}


/* Aligning the text for about me. */
#about-me ul {
    margin: auto 7rem auto auto;
    line-height: 1.5;
    text-align: center;
}

/* Adding margin and font color to about me text. */
#about-me li {
    margin-bottom: 1rem;
    color: var(--font);
}

/* Seperates section header and the content. */
#portfolio {
    display: flex;
    flex-direction: column;
    height: 50rem;
    margin-top: 2rem;
}

/* Makes the content into two seperate rows. */
#portfolio-container {
    display: flex;
    flex-direction: row;
    height: 90%;
}

/* Styling and making the size. */
#main-project {
    display: flex;
    width: 120%;
    height: auto;
    border: 6px solid var(--light);
    margin: 2rem 1rem 1rem 3rem;
    background-image: url("../images/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

/* Styling and aligning the header for the main project. */
.main-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 3%;
    margin-right: auto;
    padding: 0 0.5rem 0.5rem 0.5rem;
    background-color: var(--light);
    text-align: center;
    color: var(--font);
    
}

/* Lets the image take the whole area */
#main-project a{
    width: 100%;
    height: 100%; 
    
}

/* Effecting the size and layout of the side projects. */
.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    margin: 2rem 3rem 1rem 0;
    
}

/* Adjust the size of the image */
.side-projects a {
    height: 100%;
    width: 100%;
} 

/* Makes image take the entire area. */
.projects img {
    width: 100%;
    height: 100%;
}

/* Adjust the size of each of the projects on the side. */
.side-projects {
    display: flex;
    width: auto;
    height: 100%;
    max-height: 29.8%;
    border: 6px solid var(--light);
}

/* Adds the background image and adds a margin to the bottom. */
#project-2 {
    margin-bottom: 1rem;
    background-image: url("../images/nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Styling and aligning the header for the side projects. */
.project-header{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--font);
    width: auto;
    margin-left: 3%;
    margin-right: auto;
    font-size: 75%;
    padding: 0 0.5rem 0.5rem 0.5rem;
    text-align: center;
    background-color: var(--light);
    line-height: 0;
}

/* Adds the background image and adds a margin to the bottom. */
#project-3 {
    margin-bottom: 1rem;
    background-image: url("../images/shahadat-rahman-voM1Z9cGPCU-unsplash.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Adds the background image and adds a margin to the bottom. */
#project-4 {
    background-image: url("../images/richard-horvath-WOA3QKFjlo8-unsplash.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Display this when screen size is smaller. */
#hidden-project {
    display: none;
    background-image: url("../images/shubham-dhage-Oml7GeJM1QY-unsplash.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Adjusting the size of the bottom project to align with the other projects. Also adds the background image */
#bottom-project {
    display: flex; 
    margin: 0 3rem 0 3rem;
    height: 11rem;
    max-height: 11rem;
    width: auto;
    border: 6px solid var(--light);
    background-image: url("../images/shubham-dhage-Oml7GeJM1QY-unsplash.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Styling and aligning the header for the bottom project. */
.bottom-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--font);
    background-color: var(--light);
    width: auto;
    margin-left: 3%;
    margin-right: auto;
    text-align: center;
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 85%;
    line-height: 0;
}

/* Effects how much area the image takes up. */
#bottom-project a {
    height: 100%;
    width: 100%;
}

/* Lets the image take up all area it is contained in. */
#bottom-project img {
    width: 100%;
    height: 100%;
}

/* Seperates the section header with the content and also aligns it to the center. */
#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Aligning the elements that are the links to the contact information. */
#contact-information {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Styling and effecting the distance between each anchor for contacting. */
.information {
    background-color: var(--light);
    color: var(--font);
    font-size: 1rem;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
    border-radius: 5%;
    text-align: center;
}

/* Will remove the about me image and show only text. Also changes margin for bottom project. */
@media screen and (max-width: 1050px){
    #about-me img {
        display: none;
    }

    #about-me ul {
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    } 
} 

/* Header will be in a column. All borders become 4px. Adjust the position of all projects. */
@media screen and (max-width: 700px){
    header {
        flex-direction: column;
    }
    header h1 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    nav {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    #main-project {
        margin-left: 1rem;
        border: 4px solid var(--light);
    }

    .projects {
        margin-right: 1rem;
    }

    .side-projects {
        border: 4px solid var(--light);
        max-height: 32%;
    }

    #bottom-project {
        margin-left: 1rem;
        margin-right: 1rem;
        border: 4px solid var(--light);
    }
}

/* The projects will be in a column. It removes the bottom project and instead adds another project to the same section as all the other project. */
@media screen and (max-width: 550px) {
    #portfolio {
        height: 65rem;
    }

    #portfolio-container {
        flex-direction: column;
        height: 100%;
        font-size: 75%;
    }
    #main-project {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 90%;
        height: 80%;
    }

    .projects {
        margin: 1rem auto 0 auto;
        width: 85%;
        height: 100%;
    }

    #hidden-project {
        display: flex;
        margin-top: 1rem;
    }

    #bottom-project {
        display: none;
    }

}

/* Changes layout of nav bar to column. */
@media screen and (max-width: 350px){
    #header-navigation {
        flex-direction: column;
    }
    
    #about-me figure {
        font-size: 75%;
    }

    #portfolio-container{
        font-size: 50%;
    }

    .information {
        font-size: 75%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* Makes the contact section into a column. */
@media screen and (max-width: 270px){
    #contact-information {
        flex-direction: column;
    }
}